@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.project {

    .times {
        .tasklist {
            font-weight: bold;
        }
        .budget {
            color: rgba(120,120,120,1);
        }
        .used {
            color: rgba(231,76,60,1);
        }
    }
}
