$brand-primary: #EE6352;
$brand-secondary: #484D6D;
$brand-tertiary: #5D737E;

$background-primary: #EFE9F4;
$background-secondary: #368F8B;

$light: #F6F6FA;
$lighter: #FFFFFF;
$dark: #0F0F11;
$darker: #000000;

$radius: 3px;
