@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body {
    font-family: 'Open Sans', Arial, sans-serif;
    color: $dark + 20%;
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6, .heading {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
    color: $dark;
}

p {
    font-size: 0.9em;
}

p, ul, ol {
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

a {
    color: $brand-secondary;
    &:hover { color: $brand-secondary + 50%; text-decoration: none; }
    &:active { color: $brand-secondary - 50%; text-decoration: none; }
    &:focus { text-decoration: none; }
}
